/* -------------------------------------
 # Aditional changes
 --------------------------------------- */

.m-page.-glosario {
    @include mediaQueriesMd {
        margin-top: 0;

        .m-page__title {
            margin-top: 0;
        }
    } 
}

/* ---------
 #  Single
   --------- */
.m-single__title {
    @include mediaQueriesMinMd {
        font-size: $fontBg;
        margin-bottom: $spaceRg;
    }
}

.m-single__excerpt {
    @include mediaQueriesMinMd {
        font-size: $fontSuperXs;
    }
}

.m-single__content {
    p, figcaption, table {
        font-size: $fontSuperXs;
    }
}

/* ----------------
 #  bigger Article
   ---------------- */
.m-biggerArticle {
    @include mediaQueriesMinMd {
        &.-viewLastest h3 {
            margin-bottom: $spaceSm;
        }
    }
}

/* ----------------
 #    big Article
   ---------------- */
.m-bigArticle__header {
    h3 {
        margin-bottom: $spaceSm;
    }
}


.m-popularItem {
    h3 {
        font-size: $fontH3;
    }
}

.m-smallArticle {
    h3 {
        margin-bottom: $spaceXs;
    }
}


.m-biggerArticle__excerpt, .m-bigArticle__header .m-bigArticle__excerpt {
    @include mediaQueriesMd {
        font-size: $fontSuperXs;
    }
}