/* -------------------------------------
 # Aditional changes
 --------------------------------------- */

.m-page.-glosario {
    @include mediaQueriesMd {
        margin-top: 0;

        .m-page__title {
            margin-top: 0;
        }
    } 
}

.m-single__title {
    @include mediaQueriesMinMd {
        font-size: $fontXl;
        margin-bottom: $spaceRg;
    }
}

.m-single__excerpt {
    @include mediaQueriesMinMd {
        font-size: $fontSuperXs;
    }
}