/* ------------------------------------
#              Typography
-------------------------------------- */

// Toggle
.-toggleItem {
    transition: 0.4s;
    display: inline-block;
    height: 33px;
    border-radius: $spaceRg;
    border: solid 1px $color-darkgrey;
    padding: 0px $spaceSm;
    line-height: 1.8;
    margin-right: $spaceXs;
    margin-bottom: $spaceXs;

    &:hover {
        color: $color-lightin;
        border-color: $color-secondary;
        background-color: $color-secondary;
    }
}